/* Google Font Link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* Common Css Style  */
body{
    font-family: 'Poppins', sans-serif;
}


/* Button Style  */
.convention-button{
    background: #FFFFFF;
    color: #3F87F5;
}

.convention-button a{
    text-decoration: none;
}