/* Google Font Link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* Common Css Style  */
body{
    font-family: 'Poppins', sans-serif;
}


/* Button Style  */
.convention-button{
    background: rgb(32, 32, 32);
}

.convention-button a{
    text-decoration: none;
    color: #fdfdfd;
}

/* Happy Moment Style  */

.happy-background {
        background-color: #FEEAE9;
}

.happy-button a {
    text-decoration: none;
    color: white;
}


/* Package Css Style  */
.package-color{
    color: #231D4F;
}

.mark-color{
    color: #5243C2;
}

.package-button{
    color: #3F87F5;
}

.card-background{
    background-color: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
}

.mark-color-three{
    color: white;
}

.package-third-button {
    background: #FFFFFF;
    border-radius: 24px;
    color: #3F87F5;
}

.package-icon{
    background: #FF4E4E;
    border-radius: 14px;
}



/* Client Css Style  */
.client {
    overflow: hidden;
}

.client img{
    transition: all 1.5s ease;
}

.client:hover img{
    transform: scale(1.5);
}

.client-button {
    background: linear-gradient(170.41deg, #4289FF -11%, #3F07F8 93%);
}
